pkgbase = pacmangr
	pkgdesc = Animated TUI wrapper for native package managers
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/HeiDumb/pacmangr
	arch = any
	license = MIT
	depends = python
	optdepends = pacman: Arch repository package support
	optdepends = yay: AUR package support
	optdepends = paru: alternate AUR package support
	optdepends = pacseek: interactive Arch package lookup
	optdepends = downgrade: Arch package version history and downgrade support
	optdepends = flatpak: Flatpak application support
	optdepends = apt: Debian/Ubuntu package support
	optdepends = snapd: Snap package support
	optdepends = cargo: Rust crate support
	optdepends = npm: Node package support
	optdepends = python-pip: Python package support
	optdepends = pipx: Python application support
	optdepends = ruby: gem package support
	optdepends = luarocks: Lua package support
	source = pacmangr
	source = LICENSE
	sha256sums = c56682851c8cd4b1f763dba74f4be2d3c0e7eb61304f2533a078b17b0419030f
	sha256sums = 1ca94f060630018611d08b440c3e9c2b5e58fd75d967845f60fb327e0a75ef9c

pkgname = pacmangr
